/* Main container for Home component */
.home-container {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  /* Add spacing between BrewDisplay components */
  .brew-display {
    margin-bottom: 20px;
  }

   /* Search input styling */
   .search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    
  }
  
  .search input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .brew-display {
      margin-bottom: 15px;
    }
  }
  