.cover{
background-color: black;
height: 200vh;
}

.cover {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Full viewport height or adjust as needed */
    width: 100%; /* Full width or adjust as needed */
    overflow: hidden; /* Prevent overflow */
  }
  
  .cover img {
    height: 990px; /* Image height */
    width: 700px; /* Image width */
  }
  
.intro {
    border: 2px solid black;
    /* color: white; */
    /* padding-right: 50px; */
    margin-left: 700px;
    margin-right: 700px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -980px;
}
