/* Container for the entire navbar */
.nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  /* Header styling */
  .App {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Search input styling */
  .search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    
  }
  
  .search input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Navbar container styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Navbar brand styling */
  .navbar-brand a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
  }
  
  /* Navbar items styling */
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .navbar-nav .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .navbar-nav .nav-item a:hover {
    color: #007bff;
  }
  
  /* Navbar actions section styling */
  .navbar-actions {
    display: flex;
    align-items: center;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  