/* App.css */

/* Base styles for the transition */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* Ensure that the route content container has a position relative or absolute */
.route-container {
  position: relative;
}
